.checkPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // max-height: 100vh;
  & > main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    @include ipad {
      flex-direction: column;
      justify-content: unset;
    }
  }
  .cartListBox {
    width: 65%;
    // @include ipad {
    //   width: 100%;
    // }
    @include ipad {
      width: 100%;
      order: 3;
      margin-bottom: 48px;
    }
  }

  .totalPriceBox {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    @include ipad {
      order: 2;
    }

    ul {
      width: 31%;
      @include ipad {
        width: 100%;
      }
    }
    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    & > div {
      width: 31%;
      @include ipad {
        width: 50%;
        margin-left: 15px;
      }
    }

    .priceBox {
      font-size: $font-s;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }

    // }
    .btn-nextStep {
      width: 100%;
    }
  }
}
