.checkPage {
  .userInfoBox {
    width: 31%;
    max-height: 500px;
    margin-bottom: 54px;
    @include ipad {
      width: 100%;
      order: 1;
    }
    .coupon {
      text-align: right;
      color: $secondary;
      font-size: 14px;
    }
  }


  &__buttonsBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .btn-nextStep {
      width: 31%;
      @include iphone {
        width: 50%;
        margin-left: 15px;
      }
    }
    .btn-goBack {
      width: 14.5%;
      @include iphone {
        width: 50%;
      }
    }
  }
}
