.btn {
  &:hover {
    color: unset;
    opacity: 0.8;
  }
}

.btn-primary-fill {
  border: 1px solid $primary;
  color: white !important;
  background-color: $primary !important;
}

.btn-white-border {
  border: 1px solid white;
  color: white !important;
  // border-radius: unset;
}

.btn-secondary-fill {
  border: 1px solid $secondary;
  color: white !important;
  background-color: $secondary !important;
}

.btn-secondary-fill-reverse {
  border: 1px solid white;
  color: $secondary !important;
  background-color: white !important;
}

.btn-secondary-border {
  border: 1px solid $secondary;
  color: $secondary !important;
 
}

.btn-primary-borderBottom {
  border-bottom: 1px solid white;
  color: $primary !important;
  border-radius: unset;
}
