.header {
  padding: 28px 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  background-color: #fff;
  z-index: 3;
  @include ipad {
    padding: 18px 26px;
    border-bottom: 1px solid #707070;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .wrap h1 {
    @include absolute-center;
  }
  .logo {
    @include font-size($font-m);
    color: $purple-pink;
    line-height: 1;
    // @include media-breakpoint-up(sm) {
    //   margin-bottom: 0px;
    // }
  }

  &__list {
    display: flex;
    color: $gray-900;
  }

  &__listItem {
    & + & {
      padding-left: 32px;
    }

    &:hover {
      color: $pink;
    }

    @include ipad {
      display: none;
    }
  }

  .cart {
    width: 24px;
    height: 24px;
    position: relative;
    @include ipadPro {
      margin-right: 10px;
    }
  }

  .count {
    @include cart-count;
    color: #fff;
    background-color: $pink;
  }
}
